
.TreeElement {
    display: block;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid rgb(52, 71, 71);
    }

    &--selected {
        background-color: rgb(52, 71, 71);
    }
}