
.Tree {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    &__title {
        padding: 0 20px;
        font-weight: bold;
    }

    &__elements {
        flex: 1;
        overflow-y: auto;

        &--no-hover {
            
            .TreeElement {
                &:hover {
                    border: 1px solid transparent;
                }
            }
        }
        
        position: relative;

        &__moovbar {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 4px;
            background: white;
        }
    }

}